a {
    text-decoration: none;
}

html {
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
}

label, input {
    /* in order to define widths */
    display: inline-block;
    width: 13vw;
    font-size: 16px;
}

input {
    width: 20vw;
}

label {
    color: #BBBBBB;
    font-size: 18px;
    text-align: left;
    vertical-align: top;
}

br {
    height: 4px;
}

label+input+label {
    margin: 0 55% 0 0;
}

body {
    padding: 0;
    background: #202020;
    color: #5D6063;
    max-width: 100%;
    margin: 0 0 0 0;
    font: 24px "Courier New", Courier, monospace;
}

small {
    margin: 5px;
}

.wrapper {
    /*height: 100%;*/
    /*width: 100%;*/
}

.btn:hover {
    background-color: #a15500;
}

a.start {
    margin-left: 20px;
}

a.atag-btn {
    background-color: buttonface;
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-top: 10px;
    color: #000000;
    font-size: 16px;
    font-family: Lucida Grande;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

a:hover {
    background-color: #a15500;
}

.btn {
    background-color: buttonface;
    /*display: inline-block;*/
    padding: 6px 12px;
    color: #000000;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-block {
    display: inline-block;
    max-width: 50px;
}

p.redirect {
    color: #19BDFF;
}

p {
    color: #BBBBBB;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 2px;
}

.post-title {
    color: #19BDFF;
    margin: 10px 0 10px 0;
}

h2 {
    text-decoration: none;
}

.header-row {
    display: block;
    width: 100%;
    background: #2a4d6e;
    height: 6vh;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

.nav {
    position: relative;
    font-family: "Press Start 2P", cursive;
    border-bottom: 1px solid black;
    font-size: 20px;
    border-color: #11385d;
    background-color: #04294C;
}

.nav ul {
    margin: 0;
    text-align: left;
    padding: 0;
    height: auto;
}

.nav li {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 15px 5px 5px 0;
}

.nav a {
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
}

.nav a:hover {
    color: #000;
}

.nav .current a {
    background: #a15500;
    color: #fff;
}

hr.mini {
    width: 40%;
    float: left;
    margin: 10px;
}

.post-meta {
    display: block;
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 0;
    color: #ee7e00;
    font-weight: bold;
}

.comment-count {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #19BDFF;
    font-weight: lighter;
}

a.main-title {
    color: #19BDFF;
    font-family: "Press Start 2P";
    font-size: 36px;
    text-align: left;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-top: 12px;
}

@media only screen and (max-width: 600px) {
    /* Menu code base from http://koen.kivits.com/articles/pure-css-menu/
with alterations to work on this page. */
    .onclick-menu {
        position: relative;
        display: inline-block;
    }
    .onclick-menu:before {
        content: url(/images/menu-icon.png);
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
        background-color: #04294C;
    }
    a.button {
        position: relative;
        text-align: center;
        font-size: 1.4em;
        text-decoration: none;
        color: white;
        display: block;
        border-color: #11385d;
        background-color: #04294C;
    }
    a:hover {
        color: #FFF;
    }
    .onclick-menu:focus {
        pointer-events: none;
    }
    .onclick-menu:focus .onclick-menu-content {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .onclick-menu-content {
        padding: 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s;
    }
    .main-title {
        font-size: 20px;
    }
}

.error {
    color: red;
    width: auto;
    font-weight: bold;
    font-size: 18px;
}

.comment-head {
    display: block;
}

.comment-text {
    color: #00aaee;
}

form {
    display: block;
    margin: 0 20px 0 20px;
}

textarea {
    width: 400px;
    height: 100px;
    font-size: 18px;
}

.new-comment-content {
    width: 400px;
    height: 100px;
}

h1 {
    margin-bottom: 2px;
    margin-left: 15px;
    margin-top: 20px;
    color: #19BDFF;
}

.post-title {
    font-size: 32px;
}

.post-content {
    margin-left: 20px;
    margin top: 15px;
    margin-right: auto;
    font-size: 24px;
}

.comment-content {
    margin-left: 20px;
    margin-right: auto;
    word-wrap: break-word;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 15px;
}

input.btn {
    width: auto;
}

p.content {
    margin-top: 15px;
    font-size: 28px;
    margin-left: 25px;
    margin-bottom: 0;
}