.blog-nav-image {
    width: 100%;
    height: auto;
    padding: 0px;
}
.blog-nav {
    display: inline-flex;
    justify-content: flex-start;
}
.blog-nav-item {
    margin-top: auto;
    margin-bottom: 0;
}