<!DOCTYPE html>
<html lang="eng">

<head>
    <meta content="width=device-width" name="viewport">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Trirong" rel="stylesheet">
    <title>
        You Know Bagu
    </title>
    </meta>
</head>

<body>
    <div class='wrapper'>
        <div class="header-row">
            <a class="main-title" href="/blog">You Know Bagu</a>
        </div>
        <nav class="nav">
            <div tabindex="0" class="onclick-menu">
                <ul class='onclick-menu-content'>
                    <a class='button' href="/">Home</a> {% if not user %}
                    <li>
                        <a class='button' href="/login">Login</a>
                    </li>
                    <li>
                        <a class='button' href="/signup">Register</a>
                    </li>
                    {% elif user %}
                    <li>
                        <a class='button' href="/blog/newpost">New Post</a>
                    </li>
                    <li>
                        <a class='button' href="/logout">Logout</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
        <div class="content">
            {% for post in posts %}
            <a href="/blog/{{post.key().id()}}">
                    <h2 class='post-title'>{{post.subject}}</h2></a>
                    <small class="post-meta">Posted by {{post.user.name}} on {{post.created.strftime("%b %d, %Y")}}</small>
                    <p class="content">{{post.content}}</p>
                    <hr class='mini'>
            <br>{% endfor %} {% block content %} {% endblock %}
        </div>
    </div>
</body>

</html>