{% extends "blog.html" %} {% block content %}
<h1>Edit Post</h1>
<form method="POST">

    <label for="subject">Subject:</label><br>
    <input class="text" type="text" name="subject" value="{{post.subject}}"><br>
    <label for="content">Content</label><br>
    <textarea name="content" rows='10' columns='50'>{{post.content}}</textarea><br>
    <label class="error">{{post_error}}</label><br>
    <input type="submit" class="btn" name="update" value="Update">
    <input type="submit" class="btn" name="cancel" value="Cancel">

</form>
{% endblock %}