{% extends "blog.html" %} {% block content %}
<h1>Login</h1>
<form method="post">

<p>Log in to post, comment, like, and unlike posts.</p>
<br>
<label for="username">Username:</label>
<input class='text' type="text" name="username" value="{{username}}"><label class="error">{{error}}</label>

<br>

<label for="password">Password:</label>
<input class='text'type="password" name="password">
<br>
<input type="submit" class="btn" value="Login">
<br>
<hr>

<p class='redirect'> Not registered yet?</p>
<input type="submit" class="btn" name='Signup' value='Signup'>
</form>

{% endblock %}