{% extends "blog.html" %} {% block content %}
<h1>Login</h1>
<form method="post">


<label for="username">Username:</label>
<input class='text' type="text" name="username" value="{{username}}"><br>

<label for="password">Password:</label>
<input class='text'type="password" name="password">
<br>
<input type="submit" class="btn" value="Login">
<label class="error">{{error}}</label><br>
<hr>
<br>
<p> Not registered yet?</p>
<input type="submit" class="btn" name='Register' value='Register'>
</form>

{% endblock %}