{% extends "blog.html" %} {% block content %}
<div>
    <h1 class='post-title'>{{post.subject}}</h1>
    <small class="post-meta">Posted by {{post.user.name}} on {{post.created.strftime("%b %d, %Y")}}</small>
    <p class="content">{{post.content | safe}}</p>

</div>
{% if user %}
<form method="post">

        {% if post.user.name != user.name %}

            <input type="submit" class="btn" name='like' value='&#128077; {{likes}} Likes'>
            <input type="submit" class="btn" name='unlike' value='&#128078; {{unlikes}} Unlikes'>
         {% else %}

            <input type='submit' class="btn" name='edit' value='&#9998; Edit'>
            <input type="submit" class="btn" name='delete' value="&#9003; Delete">
         {% endif %}
 </form>

<br>
<hr>
<br>

{% endif %}


<label class="error">{{error}}</label>
{% if comment_count == 1 %}
<div class='comment-head'>
<form method="POST">
    <h4 class='comment-count'>{{comment_count}} comment</h4> {% else %}
    <h4 class='comment-count'>{{comment_count}} comments</h4> {% endif %}
</div>
{% for comment in comments %}
<div class='content'>
    <form method='post'>
    <small class=post-meta>Posted by {{comment.user.name}} on {{comment.created.strftime("%b %d, %Y")}}</small>
    <p class='post-content'>{{comment.text}}</p>
    {% if comment.user.name == user.name %}
    <a href='/blog/{{post.key().id()}}/editcomment/{{comment.key().id()}}'>edit</a>
    <a class='btn btn-block' href="/blog/{{post.key().id()}}/deletecomment/{{comment.key().id()}}">delete</a> {% endif %}
    <br></form>
    <hr class='mini'>
    <br>
{% endfor %}
 {% if user %}
<form method='post'>
            <label for='add_comment'>Add Comment</label>
            <textarea class="comment-content" name="comment_text" rows='10' columns='50'>{{comment_text | safe}}</textarea>
<label class="error">{{comment_error}}</label><br><br>
<input type="submit" class="btn" name="add_comment" value="Post">
</form>
</div>
{% endif %}
{% endblock %}