{% extends "blog.html" %} {% block content %}
<div>
    <h1>{{post.subject}}</h1>
    <small class="post-meta">Posted by {{post.user.name}} on {{post.created.strftime("%b %d, %Y")}}</small>
    <p class="content">{{post.content | safe}}</p>

</div>
{% if user %}
<form method="POST">
    <table>
    {% if post.user.name != user.name %}
    <tr>
    <td><input type="submit" class="btn" name='like' value='&#128077; {{likes}} likes'></td>
    <td><input type="submit" class="btn" name='unlike' value='&#128078; {{unlikes}} unlikes'></td></tr> {% else %}
    <tr><td><input type="submit" class="btn" name='edit' value='&#9998; edit'></td>
    <td><input type="submit" class="btn" name='delete' value="&#9003; delete"></td></tr> {% endif %}
    <table>
</form>
{% endif %}
<br>
<hr>
<span class="error">{{error}}</span>
{% if comment_count == 1 %}
<div class='comment-head'>
<small class='comment-count'>{{comment_count}} comment</small> {% else %}
<small class='comment-count'>{{comment_count}} comments</small> {% endif %} {% for comment in comments %}
</div>
<div class='content'>
    <br>
    <small class=post-meta>Posted by {{comment.user.name}} on {{comment.created.strftime("%b %d, %Y")}}</small>
    <p class='post-content'>{{comment.text}}</p>
 {% if comment.user.name == user.name %}
    <a class='btn btn-block' href="/blog/{{post.key().id()}}/editcomment/{{comment.key().id()}}">edit</a>
    <a class='btn btn-block' href="/blog/{{post.key().id()}}/deletecomment/{{comment.key().id()}}">delete</a> {% endif %}
</div>
{% endfor %}
<br> {% if user %}
<form method="POST">
    <table>
        <tr><td><label for='add-comment'>Add Comment</label></td></tr>
            <tr><td><textarea class="comment-content" name="comment_text">{{comment_text | safe}}</textarea></td></tr>
    <tr><td><div class="error">{{comment_error}}</div></td></tr>
    <tr><td><input type="submit" class="btn" name="add_comment" value="Post"></td></tr>
</form>
{% endif %} {% endblock %}