{% extends "blog.html" %} {% block content %}
<h1>Signup</h1>
<form method="POST">


	<label for="username">Username</label>
	<input type="text" name="username" value="{{username}}">
	<label class='error'>{{error_username}}</label>
<br>

	<label for="password">Password</label>
	<input type="password" name="password" value=''>
	<label class='error'>{{error_password}}</label>
<br>

	<label for="verify">Verify Password</label>
	<input type="password" name="verify" value=''>
	<label class='error'>{{error_verify}}</label>
<br>

	<label for="email">Email (Optional)</label>
	<input type="text" name="email" id="email" value=''>
	<label class='error'>{{error_email}}</label>
<br>
	<input type="submit" class="btn" value='Signup'>
<hr>
<br>
<br>
<p class='inline'> Already registered?</p>
<input type='submit' class="btn" name='Login' value='Login'>
</form>


{% endblock %}